@model InDaCompany.Models.Ticket

@{
    ViewData["Title"] = "Create Ticket";
}

<h1>Crea un nuovo Ticket d'assistenza</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Titolo" class="control-label"></label>
                <input asp-for="Titolo" class="form-control" />
                <span asp-validation-for="Titolo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descrizione" class="control-label"></label>
                <input asp-for="Descrizione" class="form-control" />
                <span asp-validation-for="Descrizione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-dark">
                    <i class="bi bi-save me-2"></i> Crea
                </button>
                <a asp-action="Index" class="btn-dark btn-dark">
                    <i class="bi bi-arrow-left me-2"></i> Torna all'elenco
                </a>
            </div>
        </form>
    </div>
</div>