@model ForumViewModel
@{
    ViewData["Title"] = "Forum";
}
<!-- Sidebar -->
<div class="container mt-4">
    <div class="row">

        <div class="col-md-2" id="sidebar">
            <div class="card mb-4 h-100">
                <div class="list-group">
                    <a asp-action="Index" asp-route-forumId="" class="nav-link active">Tutti</a>
                    @foreach (Forum forum in Model.Forums)
                    {
                        <a asp-controller="Forum" asp-action="Index" asp-route-forumId="@forum.ID" class="nav-link">@forum.Nome</a>
                    }
                </div>
            </div>
        </div>


    <div class="col-8">
        @{
            var nomeForum = ViewBag.NomeForum == null ? "Tutti i thread" : ViewBag.NomeForum;
        }
            <h1 class="forum-title">@nomeForum</h1>

            <a asp-controller="ThreadForum" asp-action="Create"
               asp-route-forumId="@Model.Forums?.FirstOrDefault()?.ID"
               class="btn btn-indigo my-3 rounded-pill">
                <i class="ti ti-plus me-2"></i>Nuovo Thread
            </a>

            @if (Model.Threads?.Any() == true)
            {
                <div class="thread-list">
                    @foreach (var thread in Model.Threads)
                    {
                        <partial name="_ThreadCard" model="thread" />
                    }
                </div>
            }
            else
            {
                <div class="alert alert-info">
                    Nessun thread disponibile in questo forum.
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll(".btnComment").forEach(btn => {
                btn.addEventListener("click", function() {
                    const threadId = this.getAttribute("data-thread-id");
                    document.getElementById(`comments-${threadId}`).classList.toggle("d-none");
                });
            });
        });
    </script>
}

<style>

    .nav-link {
        color: indigo;
    }

        .nav-link.active {
            background-color: indigo;
            color: white;
        }

</style>